section.resume-section {
  min-height: 100vh;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;

  .resume-item {
    @media (max-width: 992px) {
      flex-direction: column;

      .resume-content {
        margin: 0 !important;

        .resume-heading-container {
          display: block !important;
        }
      }

      .resume-date {
        padding: 0 !important;
        text-align: start !important;
        font-size: $normal-font-size * 1.15 !important;
      }
    }

    flex-direction: row;
    width: 100%;

    .resume-content {
      width: 100%;

      .resume-heading-container {
        display: flex;
        justify-content: space-between;
      }
    }

    .resume-date {
      text-align: end;
      min-width: 12rem;
      font-size: $normal-font-size * 1.2;
    }
  }
}
